body {
    text-align: center;
}
#page3 .container .row p{
    display: none;
}
form input{
    width: 100%;
}
#message{
    height: 300px;
}
#page1{
    background-image: image();
}
#services{
    background-image: image();
}
#page4{
    background-image: image();
}